body{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root{
    --main-color:#A31A14;
    --second-color:gold;
  }

.cards{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-gap: 0.5em;
    width: 80vw;
    height: 25vh;
    perspective: 70vh;

}
.card{
    background-color: white;
    box-shadow: 3px 3px 5px var(--second-color);
    border-radius: 0.5em ;
    border: 3px solid var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.back{
    display: block;
    width: 5rem;
    height: 5rem;
}

.letter {
    font-size: 4em;
    display: none;
}

#firsthint{
    width: 4em;
    height: 4em;
    background-color: white;
    box-shadow: 3px 3px 5px gray;
    border-radius:50% ;
    cursor: pointer;
}

#first_score{
    box-shadow: 10px 10px 90px rgb(199, 206, 3);
    background-color: var(--main-color);
    border: 4px solid var(--second-color);
    color: var(--second-color);
    text-transform: uppercase;
    text-align: center;
    line-height: 3em;
    height: 3em;
    font-weight: bold;
}

.gamer{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#img_gamer{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-top: 6%;
    margin-left: -89%;
    background-color: thistle;
}

.avatar{
    width: 5em;
    height: 5em;
    border-radius: 50%;
}
.score{
    width: 7em;
    height: 3em;
    background-color: white;
    box-shadow: 3px 3px 5px gray;
    border-radius:0.5em ;
}
.show{
    display: block;
}

.hide{
    display: none;
}

.flip{
    transform: rotateY(360deg);
}

.wheel-button-wrapper{
    position: absolute;
    bottom: 15%;

}


#wheel_button{
    box-shadow: 0px 15px 0 20px #352d2d, 0px 40px 0 30px #000000;
	cursor: pointer;
	background-color: #c0392b;
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	width: 240px;
	height: 40px;
	transform: translateX(-50%);
}

#wheel_button::before{
    content: '';
    z-index: 1;
    border-radius: 50%;
    background-color: #e74c3c;
    position: absolute;
    bottom: 100%;
    left: 0%;
    transition: bottom 0.5s;
    width: 240px;
    height: 40px;
}

#wheel_button::after{
    content: '';
    background-color: #c0392b;
    position: absolute;
    bottom: 50%;
    left: 0%;
    width: 240px;
    height: 40px;
    transition: height 0.5s;
}

#wheel_button:active::after{
    height: 10%;
}

#wheel_button:active::before{
    bottom: 10%;
}

.fas{
    color: white;
    font-size: 18px;
}

#nick {
    font-size: 1.5em;
    color: var(--second-color);
    text-transform: uppercase;
    font-weight: bold;
}

#first_nick{
    color: var(--second-color);
    font-size: 1.2rem;
    text-align: center;
    margin-left: 1%;
    font-weight: bold;
    text-transform: uppercase;
}

#max_score{
  margin-left: 5%;
  margin-bottom: 1%;
}
